<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>User Num</th>
        <th>User Name</th>
        <th>User Age</th>
        <th>User Gender</th>
        <th>Department</th>
        <th>Major</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Role ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="allUser: ${allUsers}">
        <td><a href="#" th:text="${allUser.userId}"></a></td>
        <td th:text="${allUser.userNum}"></td>
        <td th:text="${allUser.userAge}"></td>
        <td th:text="${allUser.userName}"></td>
        <td th:text="${allUser.userGender}"></td>
        <td th:text="${allUser.department}"></td>
        <td th:text="${allUser.major}"></td>
        <td th:text="${allUser.phone}"></td>
        <td th:text="${allUser.email}"></td>
        <td th:text="${allUser.roleId}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>