<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/main-layout">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div layout:fragment="navigation"></div>
<div class="login" layout:fragment="content">
    <form th:action="@{/login}" method="post">
        <div>
            <label>Username <input type="text" name="username" placeholder="Username" required autofocus></label>
        </div>
        <div>
            <label>Password <input type="password" name="password" placeholder="Password" required></label>
        </div>
        <br>
        <div class="loginBotton"><input type="submit" value="login"></div>
        <div th:if="${param.error}" class="loginError">Invalid Username or Password</div>
    </form>
</div>
<div layout:fragment="scripts">
    <script th:src="@{/js/admin.js}"></script>
</div>
</body>
</html>